<h1 mat-dialog-title>Создание заявки</h1>

<p mat-dialog-content>Создавая заявку, Вы приглашаете пользователя в организацию. Если пользователь примет заявку, то он автоматически станет сотрудником организации.</p>

<div mat-dialog-content>
    <div class="form">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 500px; margin-top: 20px;">
            <mat-label>Поиск по имени</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" (keyup)="inputName($event)" [formControl]="controlName">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let organisation of organisationsList" [value]="organisation.name + ' (' + organisation?.director?.full_name + ')'" (click)="sendOrganisation(organisation)">
                    {{organisation.name}} ({{organisation?.director?.full_name}})
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div class="list">
            <p>
                {{selectOrganisation?.name}} ({{selectOrganisation?.director?.full_name}})
            </p>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-stroked-button color="primary" [disabled]="!isValid" (click)="submit()">Создать</button>
</div>