.container {
    margin-top: 20px;
}

h3 {
    margin: 10px 0;
}

th, td {
    font-size: 14px;
}

.table__link {
    color: #3f51b5;
    cursor: pointer;
}

.green {
    background: #81C784;
}

.blue {
    background: #64B5F6;
}

.form {
    display: flex;
}

.list {
    margin: 20px 0 0 20px;
}

mat-button-toggle-group {
    margin-bottom: 20px;
}