<div class="container">
    <form [formGroup]="loginForm" (submit)="submit()">
        <p>Авторизация</p>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Логин</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="loginForm.hasError('required', 'username')">
                Это поле обязательно!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Пароль</mat-label>
            <input 
                [type]="hide ? 'password' : 'text'" 
                matInput 
                formControlName="password"
            >
            <button 
                type="button" 
                mat-icon-button 
                matSuffix 
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide"
            >
                <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="loginForm.hasError('required', 'password')">
                Это поле обязательно!
            </mat-error>
        </mat-form-field>

        <button mat-stroked-button class="green" type="submit" [disabled]="loginForm.invalid">Войти</button>

        <p class="subtitle">ИЛИ</p>

        <button mat-stroked-button type="button" [routerLink]="['/register']">Зарегестрироваться</button>
    </form>
</div>