p {
    font-size: 24px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

.green { 
    background-color: #81C784;
    color: #fff;
}

.subtitle {
    font-size: 12px;
    margin-top: 10px;
}