<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Основное">
        <div class="container">
            <form [formGroup]="mainProfileForm" (submit)="submitMainProfile()">
                <p>Персонализация:</p>
                
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Имя</mat-label>
                    <input matInput formControlName="first_name">
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Фамилия</mat-label>
                    <input matInput formControlName="last_name">
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Никнейм</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>

                <div class="line"></div>

                <p>Безопасность:</p>
                
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Почта</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="mainProfileForm.hasError('required', 'email')">
                        Это поле обязательно!
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Телефон</mat-label>
                    <input matInput formControlName="phone_number">
                </mat-form-field>
            
                <button 
                    mat-stroked-button 
                    color="primary" 
                    type="submit" 
                    [disabled]="mainProfileForm.invalid"
                >
                    Редактировать
                </button>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Дополнительно">
        <div class="container">
            <form [formGroup]="addProfileForm" (submit)="submitAddProfile()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Телеграм</mat-label>
                    <input matInput formControlName="telegram_id">
                </mat-form-field>
            
                <button 
                    mat-stroked-button 
                    color="primary" 
                    type="submit" 
                    [disabled]="addProfileForm.invalid"
                >
                    Редактировать
                </button>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>